{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'culture.js') }}"></script>

<script>
    let culture_bank = {{culture_bank|tojson}} 
    console.log(culture_bank)
    let key = {{key|tojson}}
    console.log(key)
</script>

<div class = "ycculture" id="ycculturetitle">Culture 1</div>
<div class = "ycintro" id="yccultureintro">Flowers are put your content here put your content here put your content here. </div>
<div class = "yccontainer1">
    <div class = "row">
        <div class = "col-md-4">
            <div class = "ycdragblock">
                <div class ='ycpinkbg'>
                    <span id="ycimg1"></span>
                    
                    <span class="ycflowertitle" id="ycflower1"></span>
                </div>

                <div class="ycflowerinfo">
                    <span class='bold'>Meanings: </span>
                    <span id="ycmeaning1">
                        
                    </span>
                    <div>
                        <span class='bold'>Origins: </span>
                        <span id="ycorigins1">
                            
                        </span>
                    </div>
                    <span id = "yclink1"></span>
                </div>
            </div>
            
        </div>
        <div class = "col-md-4">
            <div class = "ycdragblock">
                <div class ='ycpinkbg'>
                    <span id="ycimg2"></span>
                    
                    <span class="ycflowertitle" id="ycflower2"></span>
                </div>

                <div class="ycflowerinfo">
                    <span class='bold'>Meanings: </span>
                    <span id="ycmeaning2">
                        
                    </span>
                    <div>
                        <span class='bold'>Origins: </span>
                        <span id="ycorigins2">
                        </span>
                    </div>
                    <span id = "yclink2"></span>
                </div>
            </div>

        </div>
        <div class = "col-md-4">
            <div class = "ycdragblock">
                <div class ='ycpinkbg'>
                    <span id="ycimg3"></span>
                    
                    <span class="ycflowertitle" id="ycflower3"></span>
                </div>

                <div class="ycflowerinfo">
                    <span class='bold'>Meanings: </span>
                    <span id="ycmeaning3">
                        
                    </span>
                    <div>
                        <span class='bold'>Origins: </span>
                        <span id="ycorigins3">
                        </span>
                    </div>
                    <span id = "yclink3"></span>
                </div>
            </div>
            
        </div>
    </div>
    
    <hr>
</div>
<div class = "ycbottombar"> 
    <div class = "row">
        <div class = "col-md-2">
            <button class = "ycb" id="previous"><i class="arrow left"></i>Culture previous</button>
            
        </div>
        <div class = "col-md-8 ycmidsmall">
            
            
        </div>
        <div class = "col-md-2">
            <button class = "ycb" id="next">Culture next<i class="arrow right"></i></button>
            
        </div>
    </div>
</div>
{% endblock %}