{% extends "layout.html" %} {% block content %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'dragdrop.js') }}"
></script>

<script>
  let question = {{question|tojson}}
  let quiz_id = {{quiz_id|tojson}}
  let answered = {{answered|tojson}}
</script>

<div class="row">
  <div class="col-md-4">
    <div id="score_board">Score: {{score}}</div>
  </div>
  <div class="col-md-6">
    <div id="questions_nav"></div>
  </div>
  <div class="col-md-2">
    <div class="ycb" id="next_button">Next<i class="arrow right"></i></div>
  </div>
</div>
<div id="drag_n_drop_question_container">
  Try and finish this question with the least number of tries!
  <div id="number_of_drops">You have drag-n-dropped 0 time(s).</div>
  <div id="question"></div>
  <div class="row">
    <div class="col-md-6">
      <div class="draggable" id="draggable_1"></div>
      <div class="draggable" id="draggable_2"></div>
      <div class="draggable" id="draggable_3"></div>
      <!-- <div class="draggable" id="draggable_4">flower4</div> -->
    </div>
    <div class="col-md-6">
      <div class="droppable" id="droppable_1"></div>
      <div class="droppable" id="droppable_2"></div>
      <div class="droppable" id="droppable_3"></div>
      <!-- <div class="droppable" id="droppable_4">meaning4</div> -->
    </div>
  </div>
</div>
{% endblock %}
