{% extends "layout.html" %} {% block content %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'score.js') }}"
></script>

<script>
  let top_scores = {{top_scores|tojson}}
  let current_score = {{current_score|tojson}}
</script>
<div class="row">
  <div class="col-md-8">
    <div class="row" id="score-report-container">
      <div id="score-report"></div>
      <button
        type="submit"
        class="btn btn-primary"
        id="new_quiz_button"
        style="margin: auto"
      >
        Try again?
      </button>
    </div>
  </div>
  <div class="col-md-4">
    <div id="leaderboard">
      <h3>High Scores</h3>
      <div id="topscores"></div>
    </div>
  </div>
</div>
{% endblock %}
